.chapter(data-title='Appointment Reminders')
  .step(data-file='src/main/java/com/twilio/appointmentreminders/Server.java')
    :markdown
      ## What does this application do?

      *Describe what the app does in 2-3 sentences. Link to GitHub README
      for local development and environment setup.*

      ---

      #### See Also

      *Include links to learn more about frameworks and dependencies*

  .step
    :markdown
      ## Configure the job scheduler

      *2-3 sentences about the code highlighted at this step.*

      ---

      #### See Also

      *Link to any concepts or dependencies introduced in this step*

  .step
    :markdown
      ## Create an appointment

      *2-3 sentences about the code highlighted at this step.*

      ---

      #### See Also

      *Link to any concepts or dependencies introduced in this step*

  .step
    :markdown
      ## Schedule the reminder job

      *2-3 sentences about the code highlighted at this step.*

      ---

      #### See Also

      *Link to any concepts or dependencies introduced in this step*

  .step
    :markdown
      ## Send the appointment reminder via SMS in a background job

      *2-3 sentences about the code highlighted at this step.*

      ---

      #### See Also

      *Link to any concepts or dependencies introduced in this step*

  .step
    :markdown
      ## Where to next?

      *Recommend other Java content or tutorials related to this one,
      preferrably on twilio.com. But can also link to tutorials on Quartz,
      Spark, or other related technologies.*